In [1]:
!pip install bs4
!pip install requests
!pip install selenium

Requirement already satisfied: bs4 in c:\users\admin\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(3)

In [4]:
Table=[]
table_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody')
for i in table_tags[0:100]:
    table=i.text
    Table.append(table)

In [5]:
Table

['1. "Baby Shark Dance"[4] Pinkfong Baby Shark - Kids\' Songs & Stories 12.85 June 17, 2016 [A]\n2. "Despacito"[7] Luis Fonsi 8.16 January 12, 2017 [B]\n3. "Johny Johny Yes Papa"[14] LooLoo Kids 6.70 October 8, 2016\n4. "Bath Song"[15] Cocomelon – Nursery Rhymes 6.20 May 2, 2018\n5. "Shape of You"[16] Ed Sheeran 6.00 January 30, 2017 [C]\n6. "See You Again"[19] Wiz Khalifa 5.89 April 6, 2015 [D]\n7. "Phonics Song with Two Words"[24] ChuChu TV 5.30 March 6, 2014\n8. "Wheels on the Bus"[25] Cocomelon – Nursery Rhymes 5.24 May 24, 2018\n9. "Uptown Funk"[26] Mark Ronson 4.92 November 19, 2014\n10. "Learning Colors – Colorful Eggs on a Farm"[27] Miroshka TV 4.89 February 27, 2018\n11. "Gangnam Style"[28] Psy 4.80 July 15, 2012 [E]\n12. "Masha and the Bear – Recipe for Disaster"[33] Get Movies 4.55 January 31, 2012\n13. "Dame Tu Cosita"[34] El Chombo 4.35 April 5, 2018\n14. "Axel F"[35] Crazy Frog 3.91 June 16, 2009\n15. "Sugar"[36] Maroon 5 3.87 January 14, 2015\n16. "Roar"[37] Katy Perry 3.80 September 5, 2013\n17. "Counting Stars"[38] OneRepublic 3.79 May 31, 2013\n18. "Sorry"[39] Justin Bieber 3.66 October 22, 2015\n19. "Baa Baa Black Sheep"[40] Cocomelon – Nursery Rhymes 3.64 June 25, 2018\n20. "Thinking Out Loud"[41] Ed Sheeran 3.60 October 7, 2014\n21. "Waka Waka (This Time for Africa)"[42] Shakira 3.59 June 4, 2010\n22. "Dark Horse"[43] Katy Perry 3.52 February 20, 2014\n23. "Lakdi Ki Kathi"[44] Jingle Toons 3.48 June 14, 2018\n24. "Faded"[45] Alan Walker 3.45 December 3, 2015\n25. "Perfect"[46] Ed Sheeran 3.45 November 9, 2017\n26. "Let Her Go"[47] Passenger 3.44 July 25, 2012\n27. "Girls Like You"[48] Maroon 5 3.42 May 31, 2018\n28. "Humpty the train on a fruits ride"[49] Kiddiestv Hindi – Nursery Rhymes & Kids Songs 3.41 January 26, 2018\n29. "Lean On"[50] Major Lazer 3.38 March 22, 2015\n30. "Bailando"[51] Enrique Iglesias 3.38 April 11, 2014']

In [10]:
lines=Table.split("/n")

AttributeError: 'list' object has no attribute 'split'

# Q2

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.bcci.tv/")
time.sleep(3)

In [5]:
Search=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
Search.click()
time.sleep(3)

In [6]:
Search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div")
Search.click()
time.sleep(3)

In [8]:
Teams=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[1]/input")
Teams.send_keys('India')

In [11]:
Teamclick=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[3]")
Teamclick.click()

In [12]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [13]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tags[0:10]:
    title=i.text
    Match_title.append(title)
Serie_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in Serie_tags[0:10]:
    Serie=i.text
    Series.append(Serie)
PLACE_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in PLACE_tags[0:10]:
    PLACE=i.text
    Place.append(PLACE)
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags[0:10]:
    date=i.text
    Date.append(date)
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags[0:10]:
    time=i.text
    Time.append(time)

In [14]:
import pandas as pd
df2=pd.DataFrame({'Match Title':Match_title[0:10],'Series':Series[0:10],'Place':Place[0:10],'Date':Date[0:10],'Time':Time[0:10]})
df2

,Match Title,Series,Place,Date,Time
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM IST
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",27 JUL 2023,7:00 PM IST
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",29 JUL 2023,7:00 PM IST
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",1 AUG 2023,7:00 PM IST
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",3 AUG 2023,8:00 PM IST
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",6 AUG 2023,8:00 PM IST
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",8 AUG 2023,8:00 PM IST

# Q3

In [26]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.statisticstimes.com/")

In [27]:
Search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
Search.click()

In [34]:
from selenium.common.exceptions import ElementNotInteractableException

In [41]:
try:
    Country = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button/i') 
    Country.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [42]:
try:
    Countrylink = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]') 
    Countrylink.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [43]:
gdpstate=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdpstate.click()

In [44]:
Rows=[]

In [50]:
row_tags=driver.find_elements(By.XPATH,'//tr[@class="odd"]')
for i in row_tags[0:10]:
    row=i.text
    Rows.append(row)

In [51]:
Rows

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986']

In [52]:
Rows2=[]
row2_tags=driver.find_elements(By.XPATH,'//tr[@class="even"]')
for i in row2_tags[0:10]:
    row2=i.text
    Rows2.append(row2)

In [53]:
Rows2

['2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273']

In [54]:
Rows3=Rows+Rows2

In [55]:
Rows3

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986',
 '2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273']

In [60]:
rank_data = {}
for item in Rows3:
    parts = item.split(' ')
    rank = int(parts[0])
    rank_data[rank] = item

# Sort the data based on the rank
sorted_data = [rank_data[key] for key in sorted(rank_data.keys())]

In [61]:
sorted_data

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273']

In [62]:
for item in sorted_data:
    values = item.split(' ')
    print(values)

['1', 'Maharashtra', '-', '2,632,792', '13.94%', '399.921', '-', '2,039,074']
['2', 'Tamil', 'Nadu', '1,845,853', '1,630,208', '8.63%', '247.629', '1,312,929', '1,215,307']
['3', 'Uttar', 'Pradesh', '1,687,818', '1,584,764', '8.39%', '240.726', '1,166,817', '1,123,982']
['4', 'Gujarat', '-', '1,502,899', '7.96%', '228.290', '-', '1,186,379']
['5', 'Karnataka', '1,631,977', '1,493,127', '7.91%', '226.806', '1,156,039', '1,091,077']
['6', 'West', 'Bengal', '1,253,832', '1,089,898', '5.77%', '165.556', '793,223', '739,525']
['7', 'Rajasthan', '1,020,989', '942,586', '4.99%', '143.179', '711,627', '677,428']
['8', 'Andhra', 'Pradesh', '972,782', '862,957', '4.57%', '131.083', '672,018', '621,301']
['9', 'Telangana', '969,604', '861,031', '4.56%', '130.791', '663,258', '612,828']
['10', 'Madhya', 'Pradesh', '906,672', '809,592', '4.29%', '122.977', '561,801', '522,009']
['11', 'Kerala', '-', '781,653', '4.14%', '118.733', '-', '559,412']
['12', 'Delhi', '856,112', '774,870', '4.10%', '117.703', '634,408', '590,569']
['13', 'Haryana', '831,610', '734,163', '3.89%', '111.519', '572,240', '531,085']
['14', 'Bihar', '611,804', '530,363', '2.81%', '80.562', '414,977', '375,651']
['15', 'Punjab', '574,760', '526,376', '2.79%', '79.957', '418,868', '397,669']
['16', 'Odisha', '521,275', '487,805', '2.58%', '74.098', '396,499', '376,877']
['17', 'Assam', '-', '315,881', '1.67%', '47.982', '-', '234,048']
['18', 'Chhattisgarh', '329,180', '304,063', '1.61%', '46.187', '243,477', '231,182']
['19', 'Jharkhand', '328,598', '297,204', '1.57%', '45.145', '240,036', '224,986']
['20', 'Uttarakhand', '-', '245,895', '1.30%', '37.351', '-', '193,273']

In [85]:
Rank = []
State = []
Column1 = []
Column2 = []

for item in values [0:10]:
    split_items = item.split(',')
    Rank.append(split_items[0])
    State.append(split_items[1])
    Column1.append(split_items[2])
    Column2.append(split_items[3])

print(Rank)
print(State)
print(Column1)
print(Column2)

IndexError: list index out of range

# Q4

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://github.com/")

In [6]:
try:
    drop = driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/button') 
    drop.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [7]:
try:
    Countrylink = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a') 
    Countrylink.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [9]:
Title=[]
Description=[]
Count=[]
Language=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title_tags[0:50]:
    title=i.text
    Title.append(title)
desc_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_tags[0:50]:
    desc=i.text
    Description.append(desc)
lan_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[1]/div[2]/span[1]/span[2]')
for i in lan_tags[0:50]:
    lan=i.text
    Language.append(lan)

In [12]:
Description

['PowerShell for every system!',
 'There can be more than Notion and Miro. AFFiNE is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 'An open-source C++ library developed and used at Facebook.',
 'This is the official code for Faster Segment Anything (MobileSAM) project that makes SAM lightweight for mobile applications and beyond!',
 'Remove backgrounds from images directly in the browser environment with ease and no additional costs or privacy concerns. Explore an interactive demo.',
 'Curated list of project-based tutorials',
 '中国大模型',
 'All you need for End-to-end Autonomous Driving',
 'A list of SaaS, PaaS and IaaS offerings that have free tiers of interest to devops and infradev',
 '🥷 Superagent - Build, deploy, and manage LLM-powered agents',
 'Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效 ChatGLM 微调',
 '📚 Freely available programming books',
 '🧑\u200d🏫 59 Implementations/tutorials of deep learning papers with side-by-side notes 📝; including transformers (original, xl, switch, feedback, vit, ...), optimizers (adam, adabelief, ...), gans(cyclegan, stylegan2, ...), 🎮 reinforcement learning (ppo, dqn), capsnet, distillation, ... 🧠',
 '🤗 Transformers: State-of-the-art Machine Learning for Pytorch, TensorFlow, and JAX.',
 '🧠 Dump all your files into your private Generative AI Second Brain and chat with it using LLMs ( GPT 3.5/4, Private, Anthropic, VertexAI ) & Embeddings 🧠',
 'Cross-platform .NET sample microservices and container based application that runs on Linux Windows and macOS. Powered by .NET 7, Docker Containers and Azure Kubernetes Services. Supports Visual Studio, VS for Mac and CLI based environments with Docker CLI, dotnet CLI, VS Code or any other code editor.',
 'Create book from markdown files. Like Gitbook but implemented in Rust',
 '🆓免费的 ChatGPT 镜像网站列表，持续更新。List of free ChatGPT mirror sites, continuously updated.',
 'Ansible for DevOps examples.',
 '《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍了大语言模型的基础知识和应用，以及如何构建自己的模型。其中包括Prompt的编写、开发和管理，探索最好的大语言模型能带来什么，以及LLM应用开发的模式和架构设计。',
 'Chat with your documents on your local device using GPT models. No data leaves your device and 100% private.',
 'Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；上架！',
 'Type-safe, K-sortable, globally unique identifier inspired by Stripe IDs']

In [17]:
repo_url=[]
start=0
end=1
try:
    for page in range(start,end):   
        url = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]/a')
        for i in url:
            repo_url.append(i.get_attribute('href'))
except NoSuchElementException :
        repo_url.append('No url')

In [18]:
repo_url

['https://github.com/PowerShell/PowerShell',
 'https://github.com/WeMakeDevs/open-source-course',
 'https://github.com/toeverything/AFFiNE',
 'https://github.com/facebook/folly',
 'https://github.com/ChaoningZhang/MobileSAM',
 'https://github.com/imgly/background-removal-js',
 'https://github.com/practical-tutorials/project-based-learning',
 'https://github.com/wgwang/LLMs-In-China',
 'https://github.com/OpenDriveLab/End-to-end-Autonomous-Driving',
 'https://github.com/ripienaar/free-for-dev',
 'https://github.com/homanp/superagent',
 'https://github.com/hiyouga/ChatGLM-Efficient-Tuning',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/teslamotors/fleet-telemetry',
 'https://github.com/labmlai/annotated_deep_learning_paper_implementations',
 'https://github.com/huggingface/transformers',
 'https://github.com/StanGirard/quivr',
 'https://github.com/dotnet-architecture/eShopOnContainers',
 'https://github.com/rust-lang/mdBook',
 'https://github.com/LiLittleCat/awesome-free-chatgpt',
 'https://github.com/geerlingguy/ansible-for-devops',
 'https://github.com/phodal/aigc',
 'https://github.com/PromtEngineer/localGPT',
 'https://github.com/Visualize-ML/Book4_Power-of-Matrix',
 'https://github.com/jetpack-io/typeid']

In [41]:
Language=[]
lan_tags=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lan_tags[0:50]:
    lan=i.text
    Language.append(lan)

In [42]:
len(Language)

20

In [28]:
Count=[]
for i in repo_url[0:25]: 
    driver.get(i) 
    time.sleep(3)
    try:
        count = driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[4]/div/h2/a/span') 
        Count.append(count.text) 
    except NoSuchElementException : 
        Count.append('-')

In [43]:
Language

['C#',
 'TypeScript',
 'C++',
 'Jupyter Notebook',
 'TypeScript',
 'HTML',
 'JavaScript',
 'Python',
 'Go',
 'Jupyter Notebook',
 'Python',
 'TypeScript',
 'C#',
 'Rust',
 'Python',
 'Python',
 'Rust',
 'Python',
 'Python',
 'Go']

In [44]:
import pandas as pd
df4=pd.DataFrame({'Repository title':Title[0:20],'Repository description':Description[0:20],'Contributors count':Count[0:20],'Language used':Language[0:20]})
df4

,Repository title,Repository description,Contributors count,Language used
0,PowerShell /,PowerShell for every system!,435,C#
1,WeMakeDevs /,There can be more than Notion and Miro. AFFiNE...,-,TypeScript
2,toeverything /,An open-source C++ library developed and used ...,8,C++
3,facebook /,This is the official code for Faster Segment A...,-,Jupyter Notebook
4,ChaoningZhang /,Remove backgrounds from images directly in the...,-,TypeScript
5,imgly /,Curated list of project-based tutorials,1,HTML
6,practical-tutorials /,中国大模型,-,JavaScript
7,wgwang /,All you need for End-to-end Autonomous Driving,-,Python
8,OpenDriveLab /,"A list of SaaS, PaaS and IaaS offerings that h...",-,Go
9,ripienaar /,"🥷 Superagent - Build, deploy, and manage LLM-p...",-,Jupyter Notebook
10,homanp /,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,-,Python
11,hiyouga /,📚 Freely available programming books,-,TypeScript
12,EbookFoundation /,🧑‍🏫 59 Implementations/tutorials of deep learn...,"2,517",C#
13,teslamotors /,🤗 Transformers: State-of-the-art Machine Learn...,-,Rust
14,labmlai /,🧠 Dump all your files into your private Genera...,21,Python
15,huggingface /,Cross-platform .NET sample microservices and c...,79.3k,Python
16,StanGirard /,Create book from markdown files. Like Gitbook ...,-,Rust
17,dotnet-architecture /,🆓免费的 ChatGPT 镜像网站列表，持续更新。List of free ChatGPT ...,12,Python
18,rust-lang /,Ansible for DevOps examples.,275,Python
19,LiLittleCat /,《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍...,18,Go

# Q5

In [45]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https:/www.billboard.com/")

In [46]:
chartclick=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
chartclick.click()

In [47]:
chartclick1=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
chartclick1.click()

In [49]:
Song=[]
Artist=[]
last_week_rank=[]
Peak_rank=[]
weeks_board=[]

In [58]:
song_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')
for i in song_tags[0:100]:
    song=i.text
    Song.append(song)
Art_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in Art_tags[0:100]:
    Art=i.text
    Artist.append(Art)
last_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
for i in last_tags[0:100]:
    last=i.text
    last_week_rank.append(last)
Peak_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span')
for i in Peak_tags[0:100]:
    Peak=i.text
    Peak_rank.append(Peak)
week_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span')
for i in week_tags[0:100]:
    week=i.text
    weeks_board.append(week)

In [64]:
week

'21'

In [65]:
Song1=[]
Artist1=[]
last_week_rank1=[]
Peak_rank1=[]
weeks_board1=[]

In [72]:
song1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song1_tags[0:100]:
    song1=i.text
    Song1.append(song1)
Art1_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')
for i in Art1_tags[0:100]:
    Art1=i.text
    Artist1.append(Art1)
last1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in last1_tags[0:100]:
    last1=i.text
    last_week_rank1.append(last1)
Peak1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in Peak1_tags[0:100]:
    Peak1=i.text
    Peak_rank1.append(Peak1)
week1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in week1_tags[0:100]:
    week1=i.text
    weeks_board1.append(week1)

In [74]:
len(Artist1)

1

In [76]:
import pandas as pd
df5=pd.DataFrame({'Song name':Song1[0:100],'Last week rank':last_week_rank1[0:100],'Peak rank':Peak_rank1[0:100],'Weeks on board':weeks_board1[0:100]})
df5

       Song name Last week rank Peak rank Weeks on board
0     Last Night              1         1             21
1       Fast Car              3         2             13
2      Calm Down              4         3             42
3        Flowers              2         1             23
4    All My Life              5         2              6
..           ...            ...       ...            ...
95  Angel, Pt. 1              -        65              2
96  Girl In Mine              -        97              1
97     Moonlight             90        80             11
98    Classy 101              -        99              1
99       Bluffin              -       100              1

[100 rows x 4 columns]

# Q7

In [109]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [110]:
Name=[]
Year_span=[]
Genre=[]
Ratings=[]
Vote=[]

In [111]:
span_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/span[2]')
for i in span_tags[0:100]:
    span=i.text
    Year_span.append(span)
Gen_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p/span[5]')
for i in Gen_tags[0:100]:
    Gen=i.text
    Genre.append(Gen)

vote_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]')
for i in vote_tags[0:100]:
    vote=i.text
    Vote.append(vote)

In [112]:
Ratings=[]
Rate_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/div/div/span[2]')
for i in Rate_tags[0:100]:
    Rate=i.text
    Ratings.append(Rate)

In [113]:
len(Ratings)

100

In [114]:
show_url=[]
start=0
end=1
try:
    for page in range(start,end):   
        url = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
        for i in url:
            show_url.append(i.get_attribute('href'))
except NoSuchElementException :
        repo_url.append('No url')

In [115]:
Count=[]
for i in show_url[0:100]: 
    driver.get(i) 
    time.sleep(1)
    try:
        count = driver.find_element(By.XPATH,'//span[@class="sc-afe43def-1 fDTGTb"]') 
        Count.append(count.text) 
    except NoSuchElementException : 
        Count.append('-')

In [101]:
len(Count)

100

In [116]:
import pandas as pd
df6=pd.DataFrame({'Name':Count[0:100],'Year Span':Year_span[0:100],'Genre':Genre[0:100],'Ratings':Ratings[0:100],'Votes':Vote[0:100]})
df6

,Name,Year Span,Genre,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,174,821"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",8.7,"1,252,525"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"1,033,004"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"303,732"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"262,868"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.4,"51,990"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"64,015"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",8.1,"208,627"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7,"43,417"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"260,438"

# Q8

In [117]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")

In [118]:
datasetclick=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
datasetclick.click()

In [121]:
data_url=[]
start=0
end=5
try:
    for page in range(start,end):   
        url = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
        for i in url:
            data_url.append(i.get_attribute('href'))
except NoSuchElementException :
        data_url.append('No url')

In [122]:
data_url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

# Q9

In [124]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/hr-recruiters-consultants ")