In [1]:
!pip install bs4
!pip install requests
!pip install selenium

Requirement already satisfied: bs4 in c:\users\admin\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(3)

In [4]:
Rows=[]
row_tags=driver.find_elements(By.XPATH,'//div[@class="vector-body ve-init-mw-desktopArticleTarget-targetContainer"]/div[3]/div/table[2]/tbody/tr')
for i in row_tags[0:100]:
    row=i.text
    Rows.append(row)

In [5]:
Rows

['1. "Baby Shark Dance"[6] Pinkfong Baby Shark - Kids\' Songs & Stories 13.01 June 17, 2016 [A]',
 '2. "Despacito"[9] Luis Fonsi 8.20 January 12, 2017 [B]',
 '3. "Johny Johny Yes Papa"[16] LooLoo Kids 6.73 October 8, 2016',
 '4. "Bath Song"[17] Cocomelon – Nursery Rhymes 6.26 May 2, 2018',
 '5. "Shape of You"[18] Ed Sheeran 6.02 January 30, 2017 [C]',
 '6. "See You Again"[21] Wiz Khalifa 5.94 April 6, 2015 [D]',
 '7. "Phonics Song with Two Words"[26] ChuChu TV 5.36 March 6, 2014',
 '8. "Wheels on the Bus"[27] Cocomelon – Nursery Rhymes 5.36 May 24, 2018',
 '9. "Uptown Funk"[28] Mark Ronson 4.96 November 19, 2014',
 '10. "Learning Colors – Colorful Eggs on a Farm"[29] Miroshka TV 4.91 February 27, 2018',
 '11. "Gangnam Style"[30] Psy 4.83 July 15, 2012 [E]',
 '12. "Masha and the Bear – Recipe for Disaster"[35] Get Movies 4.55 January 31, 2012',
 '13. "Dame Tu Cosita"[36] El Chombo 4.38 April 5, 2018',
 '14. "Axel F"[37] Crazy Frog 3.95 June 16, 2009',
 '15. "Sugar"[38] Maroon 5 3.89 January 14, 2015',
 '16. "Roar"[39] Katy Perry 3.82 September 5, 2013',
 '17. "Counting Stars"[40] OneRepublic 3.81 May 31, 2013',
 '18. "Baa Baa Black Sheep"[41] Cocomelon – Nursery Rhymes 3.69 June 25, 2018',
 '19. "Sorry"[42] Justin Bieber 3.67 October 22, 2015',
 '20. "Waka Waka (This Time for Africa)"[43] Shakira 3.63 June 4, 2010',
 '21. "Thinking Out Loud"[44] Ed Sheeran 3.61 October 7, 2014',
 '22. "Lakdi Ki Kathi"[45] Jingle Toons 3.56 June 14, 2018',
 '23. "Dark Horse"[46] Katy Perry 3.54 February 20, 2014',
 '24. "Perfect"[47] Ed Sheeran 3.48 November 9, 2017',
 '25. "Faded"[48] Alan Walker 3.47 December 3, 2015',
 '26. "Let Her Go"[49] Passenger 3.46 July 25, 2012',
 '27. "Humpty the train on a fruits ride"[50] Kiddiestv Hindi – Nursery Rhymes & Kids Songs 3.46 January 26, 2018',
 '28. "Girls Like You"[51] Maroon 5 3.43 May 31, 2018',
 '29. "Bailando"[52] Enrique Iglesias 3.41 April 11, 2014',
 '30. "Lean On"[53] Major Lazer 3.40 March 22, 2015']

In [16]:
data_dict = {
    'Rank': [],
    'Song': [],
    'Artist': [],
    'Views (billions)': [],
    'Upload Date': [],
    'Additional Info': []
}

for entry in Rows:
    entry_parts = entry.split(' ', maxsplit=6)
    rank = entry_parts[0].strip('.')
    song_artist = entry_parts[1].strip('" "')
    song = song_artist
    artist = entry_parts[2]
    views = entry_parts[3]
    upload_date = entry_parts[4]
    additional_info = entry_parts[5].strip('[]')

    data_dict['Rank'].append(rank)
    data_dict['Song'].append(song)
    data_dict['Artist'].append(artist)
    data_dict['Views (billions)'].append(views)
    data_dict['Upload Date'].append(upload_date)
    data_dict['Additional Info'].append(additional_info)

df = pd.DataFrame(data_dict)
print(df)

   Rank           Song      Artist Views (billions) Upload Date  \
0     1           Baby       Shark        Dance"[6]    Pinkfong
1     2  Despacito"[9]        Luis            Fonsi        8.20
2     3          Johny       Johny              Yes   Papa"[16]
3     4           Bath   Song"[17]        Cocomelon           –
4     5          Shape          of         You"[18]          Ed
5     6            See         You       Again"[21]         Wiz
6     7        Phonics        Song             with         Two
7     8         Wheels          on              the    Bus"[27]
8     9         Uptown   Funk"[28]             Mark      Ronson
9    10       Learning      Colors                –    Colorful
10   11        Gangnam  Style"[30]              Psy        4.83
11   12          Masha         and              the        Bear
12   13           Dame          Tu      Cosita"[36]          El
13   14           Axel      F"[37]            Crazy        Frog
14   15     Sugar"[38]      Maroon                5        3.89
15   16      Roar"[39]        Katy            Perry        3.82
16   17       Counting  Stars"[40]      OneRepublic        3.81
17   18            Baa         Baa            Black  Sheep"[41]
18   19     Sorry"[42]      Justin           Bieber        3.67
19   20           Waka        Waka            (This        Time
20   21       Thinking         Out        Loud"[44]          Ed
21   22          Lakdi          Ki       Kathi"[45]      Jingle
22   23           Dark  Horse"[46]             Katy       Perry
23   24   Perfect"[47]          Ed          Sheeran        3.48
24   25     Faded"[48]        Alan           Walker        3.47
25   26            Let         Her          Go"[49]   Passenger
26   27         Humpty         the            train          on
27   28          Girls        Like         You"[51]      Maroon
28   29  Bailando"[52]     Enrique         Iglesias        3.41
29   30           Lean     On"[53]            Major       Lazer

   Additional Info
0             Baby
1          January
2           LooLoo
3          Nursery
4          Sheeran
5          Khalifa
6        Words"[26
7        Cocomelon
8             4.96
9             Eggs
10            July
11               –
12          Chombo
13            3.95
14         January
15       September
16             May
17       Cocomelon
18         October
19             for
20         Sheeran
21           Toons
22            3.54
23        November
24        December
25            3.46
26               a
27               5
28           April
29            3.40

In [32]:
rank = []
title = []
artist = []
views = []
date = []
note = []

for row in Rows:
    
    rank.append(row.split('.')[0].strip())
    title.append(row.split('"')[1])
    artist.append(row.split('"')[2].strip())
    views.append(row.split()[-4])
    date.append(' '.join(row.split()[-2:]))
    note.append(row.split()[-4][1:-1] if row.split()[-4].startswith('[') else '')

songs_dict = {
    'Rank': rank,
    'Title': title,
    'Artist': artist,
    'Views (billions)': views,
    'Publication Date': date,
    'Note': note
}

import pandas as pd

df = pd.DataFrame(songs_dict)

In [33]:
You_tube_videos_Rank=df.set_index('Rank')
You_tube_videos_Rank

,Title,Artist,Views (billions),Publication Date,Note
Rank,,,,,
1,Baby Shark Dance,[6] Pinkfong Baby Shark - Kids' Songs & Storie...,June,2016 [A],
2,Despacito,"[9] Luis Fonsi 8.20 January 12, 2017 [B]",January,2017 [B],
3,Johny Johny Yes Papa,"[16] LooLoo Kids 6.73 October 8, 2016",6.73,"8, 2016",
4,Bath Song,"[17] Cocomelon – Nursery Rhymes 6.26 May 2, 2018",6.26,"2, 2018",
5,Shape of You,"[18] Ed Sheeran 6.02 January 30, 2017 [C]",January,2017 [C],
6,See You Again,"[21] Wiz Khalifa 5.94 April 6, 2015 [D]",April,2015 [D],
7,Phonics Song with Two Words,"[26] ChuChu TV 5.36 March 6, 2014",5.36,"6, 2014",
8,Wheels on the Bus,"[27] Cocomelon – Nursery Rhymes 5.36 May 24, 2018",5.36,"24, 2018",
9,Uptown Funk,"[28] Mark Ronson 4.96 November 19, 2014",4.96,"19, 2014",
10,Learning Colors – Colorful Eggs on a Farm,"[29] Miroshka TV 4.91 February 27, 2018",4.91,"27, 2018",
11,Gangnam Style,"[30] Psy 4.83 July 15, 2012 [E]",July,2012 [E],
12,Masha and the Bear – Recipe for Disaster,"[35] Get Movies 4.55 January 31, 2012",4.55,"31, 2012",
13,Dame Tu Cosita,"[36] El Chombo 4.38 April 5, 2018",4.38,"5, 2018",
14,Axel F,"[37] Crazy Frog 3.95 June 16, 2009",3.95,"16, 2009",
15,Sugar,"[38] Maroon 5 3.89 January 14, 2015",3.89,"14, 2015",
16,Roar,"[39] Katy Perry 3.82 September 5, 2013",3.82,"5, 2013",
17,Counting Stars,"[40] OneRepublic 3.81 May 31, 2013",3.81,"31, 2013",
18,Baa Baa Black Sheep,"[41] Cocomelon – Nursery Rhymes 3.69 June 25, ...",3.69,"25, 2018",
19,Sorry,"[42] Justin Bieber 3.67 October 22, 2015",3.67,"22, 2015",
20,Waka Waka (This Time for Africa),"[43] Shakira 3.63 June 4, 2010",3.63,"4, 2010",
21,Thinking Out Loud,"[44] Ed Sheeran 3.61 October 7, 2014",3.61,"7, 2014",
22,Lakdi Ki Kathi,"[45] Jingle Toons 3.56 June 14, 2018",3.56,"14, 2018",
23,Dark Horse,"[46] Katy Perry 3.54 February 20, 2014",3.54,"20, 2014",
24,Perfect,"[47] Ed Sheeran 3.48 November 9, 2017",3.48,"9, 2017",
25,Faded,"[48] Alan Walker 3.47 December 3, 2015",3.47,"3, 2015",
26,Let Her Go,"[49] Passenger 3.46 July 25, 2012",3.46,"25, 2012",
27,Humpty the train on a fruits ride,[50] Kiddiestv Hindi – Nursery Rhymes & Kids S...,3.46,"26, 2018",
28,Girls Like You,"[51] Maroon 5 3.43 May 31, 2018",3.43,"31, 2018",
29,Bailando,"[52] Enrique Iglesias 3.41 April 11, 2014",3.41,"11, 2014",
30,Lean On,"[53] Major Lazer 3.40 March 22, 2015",3.40,"22, 2015",

# Q2

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.bcci.tv/")
time.sleep(3)

In [5]:
Search=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
Search.click()
time.sleep(3)

In [6]:
Search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div")
Search.click()
time.sleep(3)

In [8]:
Teams=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[1]/input")
Teams.send_keys('India')

In [11]:
Teamclick=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[3]")
Teamclick.click()

In [12]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [13]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tags[0:10]:
    title=i.text
    Match_title.append(title)
Serie_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in Serie_tags[0:10]:
    Serie=i.text
    Series.append(Serie)
PLACE_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in PLACE_tags[0:10]:
    PLACE=i.text
    Place.append(PLACE)
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags[0:10]:
    date=i.text
    Date.append(date)
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags[0:10]:
    time=i.text
    Time.append(time)

In [14]:
import pandas as pd
df2=pd.DataFrame({'Match Title':Match_title[0:10],'Series':Series[0:10],'Place':Place[0:10],'Date':Date[0:10],'Time':Time[0:10]})
df2

,Match Title,Series,Place,Date,Time
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM IST
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",27 JUL 2023,7:00 PM IST
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",29 JUL 2023,7:00 PM IST
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",1 AUG 2023,7:00 PM IST
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",3 AUG 2023,8:00 PM IST
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",6 AUG 2023,8:00 PM IST
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",8 AUG 2023,8:00 PM IST

# Q3

In [26]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.statisticstimes.com/")

In [27]:
Search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
Search.click()

In [34]:
from selenium.common.exceptions import ElementNotInteractableException

In [41]:
try:
    Country = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button/i') 
    Country.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [42]:
try:
    Countrylink = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]') 
    Countrylink.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [43]:
gdpstate=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdpstate.click()

In [44]:
Rows=[]

In [50]:
row_tags=driver.find_elements(By.XPATH,'//tr[@class="odd"]')
for i in row_tags[0:10]:
    row=i.text
    Rows.append(row)

In [51]:
Rows

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986']

In [52]:
Rows2=[]
row2_tags=driver.find_elements(By.XPATH,'//tr[@class="even"]')
for i in row2_tags[0:10]:
    row2=i.text
    Rows2.append(row2)

In [53]:
Rows2

['2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273']

In [54]:
Rows3=Rows+Rows2

In [55]:
Rows3

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986',
 '2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273']

In [60]:
rank_data = {}
for item in Rows3:
    parts = item.split(' ')
    rank = int(parts[0])
    rank_data[rank] = item

sorted_data = [rank_data[key] for key in sorted(rank_data.keys())]

In [61]:
sorted_data

['1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074',
 '2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629 1,312,929 1,215,307',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726 1,166,817 1,123,982',
 '4 Gujarat - 1,502,899 7.96% 228.290 - 1,186,379',
 '5 Karnataka 1,631,977 1,493,127 7.91% 226.806 1,156,039 1,091,077',
 '6 West Bengal 1,253,832 1,089,898 5.77% 165.556 793,223 739,525',
 '7 Rajasthan 1,020,989 942,586 4.99% 143.179 711,627 677,428',
 '8 Andhra Pradesh 972,782 862,957 4.57% 131.083 672,018 621,301',
 '9 Telangana 969,604 861,031 4.56% 130.791 663,258 612,828',
 '10 Madhya Pradesh 906,672 809,592 4.29% 122.977 561,801 522,009',
 '11 Kerala - 781,653 4.14% 118.733 - 559,412',
 '12 Delhi 856,112 774,870 4.10% 117.703 634,408 590,569',
 '13 Haryana 831,610 734,163 3.89% 111.519 572,240 531,085',
 '14 Bihar 611,804 530,363 2.81% 80.562 414,977 375,651',
 '15 Punjab 574,760 526,376 2.79% 79.957 418,868 397,669',
 '16 Odisha 521,275 487,805 2.58% 74.098 396,499 376,877',
 '17 Assam - 315,881 1.67% 47.982 - 234,048',
 '18 Chhattisgarh 329,180 304,063 1.61% 46.187 243,477 231,182',
 '19 Jharkhand 328,598 297,204 1.57% 45.145 240,036 224,986',
 '20 Uttarakhand - 245,895 1.30% 37.351 - 193,273']

In [62]:
for item in sorted_data:
    values = item.split(' ')
    print(values)

['1', 'Maharashtra', '-', '2,632,792', '13.94%', '399.921', '-', '2,039,074']
['2', 'Tamil', 'Nadu', '1,845,853', '1,630,208', '8.63%', '247.629', '1,312,929', '1,215,307']
['3', 'Uttar', 'Pradesh', '1,687,818', '1,584,764', '8.39%', '240.726', '1,166,817', '1,123,982']
['4', 'Gujarat', '-', '1,502,899', '7.96%', '228.290', '-', '1,186,379']
['5', 'Karnataka', '1,631,977', '1,493,127', '7.91%', '226.806', '1,156,039', '1,091,077']
['6', 'West', 'Bengal', '1,253,832', '1,089,898', '5.77%', '165.556', '793,223', '739,525']
['7', 'Rajasthan', '1,020,989', '942,586', '4.99%', '143.179', '711,627', '677,428']
['8', 'Andhra', 'Pradesh', '972,782', '862,957', '4.57%', '131.083', '672,018', '621,301']
['9', 'Telangana', '969,604', '861,031', '4.56%', '130.791', '663,258', '612,828']
['10', 'Madhya', 'Pradesh', '906,672', '809,592', '4.29%', '122.977', '561,801', '522,009']
['11', 'Kerala', '-', '781,653', '4.14%', '118.733', '-', '559,412']
['12', 'Delhi', '856,112', '774,870', '4.10%', '117.703', '634,408', '590,569']
['13', 'Haryana', '831,610', '734,163', '3.89%', '111.519', '572,240', '531,085']
['14', 'Bihar', '611,804', '530,363', '2.81%', '80.562', '414,977', '375,651']
['15', 'Punjab', '574,760', '526,376', '2.79%', '79.957', '418,868', '397,669']
['16', 'Odisha', '521,275', '487,805', '2.58%', '74.098', '396,499', '376,877']
['17', 'Assam', '-', '315,881', '1.67%', '47.982', '-', '234,048']
['18', 'Chhattisgarh', '329,180', '304,063', '1.61%', '46.187', '243,477', '231,182']
['19', 'Jharkhand', '328,598', '297,204', '1.57%', '45.145', '240,036', '224,986']
['20', 'Uttarakhand', '-', '245,895', '1.30%', '37.351', '-', '193,273']

In [85]:
Rank = []
State = []
Column1 = []
Column2 = []

for item in values [0:10]:
    split_items = item.split(',')
    Rank.append(split_items[0])
    State.append(split_items[1])
    Column1.append(split_items[2])
    Column2.append(split_items[3])

print(Rank)
print(State)
print(Column1)
print(Column2)

IndexError: list index out of range

# Q4

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://github.com/")

In [6]:
try:
    drop = driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/button') 
    drop.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [7]:
try:
    Countrylink = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a') 
    Countrylink.click()
except ElementNotInteractableException: 
    print("The element is not currently interactable.")

In [9]:
Title=[]
Description=[]
Count=[]
Language=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title_tags[0:50]:
    title=i.text
    Title.append(title)
desc_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_tags[0:50]:
    desc=i.text
    Description.append(desc)
lan_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[1]/div[2]/span[1]/span[2]')
for i in lan_tags[0:50]:
    lan=i.text
    Language.append(lan)

In [12]:
Description

['PowerShell for every system!',
 'There can be more than Notion and Miro. AFFiNE is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 'An open-source C++ library developed and used at Facebook.',
 'This is the official code for Faster Segment Anything (MobileSAM) project that makes SAM lightweight for mobile applications and beyond!',
 'Remove backgrounds from images directly in the browser environment with ease and no additional costs or privacy concerns. Explore an interactive demo.',
 'Curated list of project-based tutorials',
 '中国大模型',
 'All you need for End-to-end Autonomous Driving',
 'A list of SaaS, PaaS and IaaS offerings that have free tiers of interest to devops and infradev',
 '🥷 Superagent - Build, deploy, and manage LLM-powered agents',
 'Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效 ChatGLM 微调',
 '📚 Freely available programming books',
 '🧑\u200d🏫 59 Implementations/tutorials of deep learning papers with side-by-side notes 📝; including transformers (original, xl, switch, feedback, vit, ...), optimizers (adam, adabelief, ...), gans(cyclegan, stylegan2, ...), 🎮 reinforcement learning (ppo, dqn), capsnet, distillation, ... 🧠',
 '🤗 Transformers: State-of-the-art Machine Learning for Pytorch, TensorFlow, and JAX.',
 '🧠 Dump all your files into your private Generative AI Second Brain and chat with it using LLMs ( GPT 3.5/4, Private, Anthropic, VertexAI ) & Embeddings 🧠',
 'Cross-platform .NET sample microservices and container based application that runs on Linux Windows and macOS. Powered by .NET 7, Docker Containers and Azure Kubernetes Services. Supports Visual Studio, VS for Mac and CLI based environments with Docker CLI, dotnet CLI, VS Code or any other code editor.',
 'Create book from markdown files. Like Gitbook but implemented in Rust',
 '🆓免费的 ChatGPT 镜像网站列表，持续更新。List of free ChatGPT mirror sites, continuously updated.',
 'Ansible for DevOps examples.',
 '《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍了大语言模型的基础知识和应用，以及如何构建自己的模型。其中包括Prompt的编写、开发和管理，探索最好的大语言模型能带来什么，以及LLM应用开发的模式和架构设计。',
 'Chat with your documents on your local device using GPT models. No data leaves your device and 100% private.',
 'Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；上架！',
 'Type-safe, K-sortable, globally unique identifier inspired by Stripe IDs']

In [17]:
repo_url=[]
start=0
end=1
try:
    for page in range(start,end):   
        url = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]/a')
        for i in url:
            repo_url.append(i.get_attribute('href'))
except NoSuchElementException :
        repo_url.append('No url')

In [18]:
repo_url

['https://github.com/PowerShell/PowerShell',
 'https://github.com/WeMakeDevs/open-source-course',
 'https://github.com/toeverything/AFFiNE',
 'https://github.com/facebook/folly',
 'https://github.com/ChaoningZhang/MobileSAM',
 'https://github.com/imgly/background-removal-js',
 'https://github.com/practical-tutorials/project-based-learning',
 'https://github.com/wgwang/LLMs-In-China',
 'https://github.com/OpenDriveLab/End-to-end-Autonomous-Driving',
 'https://github.com/ripienaar/free-for-dev',
 'https://github.com/homanp/superagent',
 'https://github.com/hiyouga/ChatGLM-Efficient-Tuning',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/teslamotors/fleet-telemetry',
 'https://github.com/labmlai/annotated_deep_learning_paper_implementations',
 'https://github.com/huggingface/transformers',
 'https://github.com/StanGirard/quivr',
 'https://github.com/dotnet-architecture/eShopOnContainers',
 'https://github.com/rust-lang/mdBook',
 'https://github.com/LiLittleCat/awesome-free-chatgpt',
 'https://github.com/geerlingguy/ansible-for-devops',
 'https://github.com/phodal/aigc',
 'https://github.com/PromtEngineer/localGPT',
 'https://github.com/Visualize-ML/Book4_Power-of-Matrix',
 'https://github.com/jetpack-io/typeid']

In [41]:
Language=[]
lan_tags=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lan_tags[0:50]:
    lan=i.text
    Language.append(lan)

In [42]:
len(Language)

20

In [28]:
Count=[]
for i in repo_url[0:25]: 
    driver.get(i) 
    time.sleep(3)
    try:
        count = driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[4]/div/h2/a/span') 
        Count.append(count.text) 
    except NoSuchElementException : 
        Count.append('-')

In [43]:
Language

['C#',
 'TypeScript',
 'C++',
 'Jupyter Notebook',
 'TypeScript',
 'HTML',
 'JavaScript',
 'Python',
 'Go',
 'Jupyter Notebook',
 'Python',
 'TypeScript',
 'C#',
 'Rust',
 'Python',
 'Python',
 'Rust',
 'Python',
 'Python',
 'Go']

In [44]:
import pandas as pd
df4=pd.DataFrame({'Repository title':Title[0:20],'Repository description':Description[0:20],'Contributors count':Count[0:20],'Language used':Language[0:20]})
df4

,Repository title,Repository description,Contributors count,Language used
0,PowerShell /,PowerShell for every system!,435,C#
1,WeMakeDevs /,There can be more than Notion and Miro. AFFiNE...,-,TypeScript
2,toeverything /,An open-source C++ library developed and used ...,8,C++
3,facebook /,This is the official code for Faster Segment A...,-,Jupyter Notebook
4,ChaoningZhang /,Remove backgrounds from images directly in the...,-,TypeScript
5,imgly /,Curated list of project-based tutorials,1,HTML
6,practical-tutorials /,中国大模型,-,JavaScript
7,wgwang /,All you need for End-to-end Autonomous Driving,-,Python
8,OpenDriveLab /,"A list of SaaS, PaaS and IaaS offerings that h...",-,Go
9,ripienaar /,"🥷 Superagent - Build, deploy, and manage LLM-p...",-,Jupyter Notebook
10,homanp /,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,-,Python
11,hiyouga /,📚 Freely available programming books,-,TypeScript
12,EbookFoundation /,🧑‍🏫 59 Implementations/tutorials of deep learn...,"2,517",C#
13,teslamotors /,🤗 Transformers: State-of-the-art Machine Learn...,-,Rust
14,labmlai /,🧠 Dump all your files into your private Genera...,21,Python
15,huggingface /,Cross-platform .NET sample microservices and c...,79.3k,Python
16,StanGirard /,Create book from markdown files. Like Gitbook ...,-,Rust
17,dotnet-architecture /,🆓免费的 ChatGPT 镜像网站列表，持续更新。List of free ChatGPT ...,12,Python
18,rust-lang /,Ansible for DevOps examples.,275,Python
19,LiLittleCat /,《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍...,18,Go

# Q5

In [45]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https:/www.billboard.com/")

In [46]:
chartclick=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
chartclick.click()

In [47]:
chartclick1=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
chartclick1.click()

In [49]:
Song=[]
Artist=[]
last_week_rank=[]
Peak_rank=[]
weeks_board=[]

In [58]:
song_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')
for i in song_tags[0:100]:
    song=i.text
    Song.append(song)
Art_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in Art_tags[0:100]:
    Art=i.text
    Artist.append(Art)
last_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
for i in last_tags[0:100]:
    last=i.text
    last_week_rank.append(last)
Peak_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span')
for i in Peak_tags[0:100]:
    Peak=i.text
    Peak_rank.append(Peak)
week_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span')
for i in week_tags[0:100]:
    week=i.text
    weeks_board.append(week)

In [64]:
week

'21'

In [65]:
Song1=[]
Artist1=[]
last_week_rank1=[]
Peak_rank1=[]
weeks_board1=[]

In [72]:
song1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song1_tags[0:100]:
    song1=i.text
    Song1.append(song1)
Art1_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')
for i in Art1_tags[0:100]:
    Art1=i.text
    Artist1.append(Art1)
last1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in last1_tags[0:100]:
    last1=i.text
    last_week_rank1.append(last1)
Peak1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in Peak1_tags[0:100]:
    Peak1=i.text
    Peak_rank1.append(Peak1)
week1_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in week1_tags[0:100]:
    week1=i.text
    weeks_board1.append(week1)

In [74]:
len(Artist1)

1

In [76]:
import pandas as pd
df5=pd.DataFrame({'Song name':Song1[0:100],'Last week rank':last_week_rank1[0:100],'Peak rank':Peak_rank1[0:100],'Weeks on board':weeks_board1[0:100]})
df5

       Song name Last week rank Peak rank Weeks on board
0     Last Night              1         1             21
1       Fast Car              3         2             13
2      Calm Down              4         3             42
3        Flowers              2         1             23
4    All My Life              5         2              6
..           ...            ...       ...            ...
95  Angel, Pt. 1              -        65              2
96  Girl In Mine              -        97              1
97     Moonlight             90        80             11
98    Classy 101              -        99              1
99       Bluffin              -       100              1

[100 rows x 4 columns]

# Q6

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [14]:
Article=[]
Author=[]
uploaded=[]

In [15]:
Art_tags=driver.find_elements(By.XPATH,'//h2[@class="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"]')
for i in Art_tags[0:100]:
    Art=i.text
    Article.append(Art)

Auth_tags=driver.find_elements(By.XPATH,'//p[@class="sc-1thf9ly-0 sc-1thf9ly-1 iwnLUR fXmEge"]/span[1]')
for i in Auth_tags[0:100]:
    Auth=i.text
    Author.append(Auth)

uplo_tags=driver.find_elements(By.XPATH,'//p[@class="sc-1thf9ly-0 sc-1thf9ly-1 iwnLUR fXmEge"]/span[2]')
for i in uplo_tags[0:100]:
    uplo=i.text
    uploaded.append(uplo)

In [16]:
import pandas as pd
df6=pd.DataFrame({'Article':Article,'Editor':Author,'Upload':uploaded})
df6

,Article,Editor,Upload
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021

# Q7

In [109]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [110]:
Name=[]
Year_span=[]
Genre=[]
Ratings=[]
Vote=[]

In [111]:
span_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/span[2]')
for i in span_tags[0:100]:
    span=i.text
    Year_span.append(span)
Gen_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p/span[5]')
for i in Gen_tags[0:100]:
    Gen=i.text
    Genre.append(Gen)

vote_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]')
for i in vote_tags[0:100]:
    vote=i.text
    Vote.append(vote)

In [112]:
Ratings=[]
Rate_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/div/div/span[2]')
for i in Rate_tags[0:100]:
    Rate=i.text
    Ratings.append(Rate)

In [113]:
len(Ratings)

100

In [114]:
show_url=[]
start=0
end=1
try:
    for page in range(start,end):   
        url = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
        for i in url:
            show_url.append(i.get_attribute('href'))
except NoSuchElementException :
        repo_url.append('No url')

In [115]:
Count=[]
for i in show_url[0:100]: 
    driver.get(i) 
    time.sleep(1)
    try:
        count = driver.find_element(By.XPATH,'//span[@class="sc-afe43def-1 fDTGTb"]') 
        Count.append(count.text) 
    except NoSuchElementException : 
        Count.append('-')

In [101]:
len(Count)

100

In [116]:
import pandas as pd
df6=pd.DataFrame({'Name':Count[0:100],'Year Span':Year_span[0:100],'Genre':Genre[0:100],'Ratings':Ratings[0:100],'Votes':Vote[0:100]})
df6

,Name,Year Span,Genre,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,174,821"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",8.7,"1,252,525"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"1,033,004"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"303,732"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"262,868"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.4,"51,990"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"64,015"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",8.1,"208,627"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7,"43,417"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"260,438"

# Q8

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")

In [4]:
datasetclick=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
datasetclick.click()

In [5]:
data_url=[]
start=0
end=5
try:
    for page in range(start,end):   
        url = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
        for i in url:
            data_url.append(i.get_attribute('href'))
except NoSuchElementException :
        data_url.append('No url')

In [6]:
data_url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [8]:
len(data_url)

50

In [7]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [9]:
for i in data_url: 
    driver.get(i) 
    time.sleep(3)
    
    try:
        data = driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]') 
        Dataset_name.append(data.text) 
    except NoSuchElementException : 
        Dataset_name.append('-')
        
    try:
        dataco = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div/p') 
        Data_type.append(dataco.text) 
    except NoSuchElementException : 
        Data_type.append('-')
        
    try:
        task = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p') 
        Task.append(task.text) 
    except NoSuchElementException : 
        Task.append('-')
        
    try:
        Attri = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p') 
        Attribute_type.append(Attri.text) 
    except NoSuchElementException : 
        Attribute_type.append('-')
        
    try:
        noofi = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p') 
        No_of_instances.append(noofi.text) 
    except NoSuchElementException : 
        No_of_instances.append('-')
        
    try:
        noofa = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p') 
        No_of_attribute.append(noofa.text) 
    except NoSuchElementException : 
        No_of_attribute.append('-')
    
    try:
        year = driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]') 
        Year.append(year.text) 
    except NoSuchElementException : 
        Year.append('-')

In [17]:
Year

['Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 10/5/2019',
 'Donated on 6/30/1991',
 'Donated on 5/31/1997',
 'Donated on 10/31/1995',
 'Donated on 4/26/1987',
 'Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 10/5/2019',
 'Donated on 6/30/1991',
 'Donated on 5/31/1997',
 'Donated on 10/31/1995',
 'Donated on 4/26/1987',
 'Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 10/5/2019',
 'Donated on 6/30/1991',
 'Donated on 5/31/1997',
 'Donated on 10/31/1995',
 'Donated on 4/26/1987',
 'Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 10/5/2019',
 'Donated on 6/30/1991',
 'Donated on 5/31/1997',
 'Donated on 10/31/1995',
 'Donated on 4/26/1987',
 'Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 10/5/2019',
 'Donated on 6/30/1991',
 'Donated on 5/31/1997',
 'Donated on 10/31/1995',
 'Donated on 4/26/1987']

In [24]:
years = []
for item in Year:
        date = item.split(' ')[-1]
        year = date.split('/')[-1]
        years.append(year)

print(years)

['1988', '1988', '1996', '2020', '-', '2019', '1991', '1997', '1995', '1987', '1988', '1988', '1996', '2020', '-', '2019', '1991', '1997', '1995', '1987', '1988', '1988', '1996', '2020', '-', '2019', '1991', '1997', '1995', '1987', '1988', '1988', '1996', '2020', '-', '2019', '1991', '1997', '1995', '1987', '1988', '1988', '1996', '2020', '-', '2019', '1991', '1997', '1995', '1987']

In [22]:
len(years)

45

In [28]:
import pandas as pd
df8=pd.DataFrame({'Dataset name':Dataset_name,'Data type':Data_type,'Task':Task,'Attribute type':Attribute_type,'No of instances':No_of_instances,'No of attribute':No_of_attribute,'Year':years})
df8

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,2019
6,Wine,Multivariate,Classification,"Integer, Real",178,13,1991
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
9,Mushroom,Multivariate,Classification,Categorical,8124,22,1987
10,Iris,Multivariate,Classification,Real,150,4,1988
11,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
12,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
13,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
14,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
15,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,2019
16,Wine,Multivariate,Classification,"Integer, Real",178,13,1991
17,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
18,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
19,Mushroom,Multivariate,Classification,Categorical,8124,22,1987
20,Iris,Multivariate,Classification,Real,150,4,1988
21,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
22,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
23,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
24,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
25,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,2019
26,Wine,Multivariate,Classification,"Integer, Real",178,13,1991
27,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
28,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
29,Mushroom,Multivariate,Classification,Categorical,8124,22,1987
30,Iris,Multivariate,Classification,Real,150,4,1988
31,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
32,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
33,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
34,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
35,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,2019
36,Wine,Multivariate,Classification,"Integer, Real",178,13,1991
37,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
38,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
39,Mushroom,Multivariate,Classification,Categorical,8124,22,1987
40,Iris,Multivariate,Classification,Real,150,4,1988
41,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
42,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
43,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
44,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
45,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,2019
46,Wine,Multivariate,Classification,"Integer, Real",178,13,1991
47,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
48,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
49,Mushroom,Multivariate,Classification,Categorical,8124,22,1987

# Q9

In [23]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com")

In [24]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Science')

In [25]:
Search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
Search.click()

In [27]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [28]:
pos_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in pos_tags[0:20]:
    pos=i.text
    Designation.append(pos)
    
com_tags=driver.find_elements(By.XPATH,'//div[@class="companyInfo subheading"]/a[1]')
for i in com_tags[0:20]:
    com=i.text
    Company.append(com)

skill_tags=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skill_tags[0:20]:
    skill=i.text
    Skills.append(skill)
    
loc_tags=driver.find_elements(By.XPATH,'//article[@class="jobTuple"]/div/ul/li[3]/span')
for i in loc_tags[0:20]:
    loc=i.text
    Location.append(loc)

In [32]:
import pandas as pd
df9_test=pd.DataFrame({'Designation':Designation,'Company':Company,'Skills':Skills,'Location':Location})
df9_test

,Designation,Company,Skills,Location
0,Director - Data Science,Credgenics,Data Engineering\ndata science\nData Analytics...,"Noida, Uttar Pradesh"
1,"Sr. Product Manager (Data Science, AI/ML)",Blue Yonder,SR\nMarketing\nData Science\nAnalytical\nManag...,Bangalore/Bengaluru
2,Sr Product Manager (Data Science/AI/ML),Blue Yonder,Data Science\nproduct manager\nMachine\nScienc...,Remote
3,Sr Analyst - Data Science and Analytics,Transunion,Analytics\nFinance\nBusiness intelligence\nQua...,"Pune, Chennai"
4,Data Science Engineer,Arbeit Associates,SQL\nPython\nData Science\nData analytics\nTab...,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore..."
5,Cluster Manager - Payments - Data Science/Seni...,Bajaj Finserv Ltd.,Python\nArchitecture\nData management\nCluster...,Pune
6,L&D Trainer - Python & Data Science/Data Analy...,AVE-Promagne Business Solutions,Python\nMachine\nScience\nDevelopment\nMachine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
7,Manager Data Science,Mondelez,SAP\nScience\nRecognition\nDesign patterns\nDa...,Mumbai
8,Lead - Data Science - Financial Services,Dimensions HRD Consultants,Data Science\nFinancial services\nScience\nDat...,Gurgaon/Gurugram
9,Head - Data Science & Analytics - Bank,Dimensions HRD Consultants,Data Analytics\nData Science\nScience\nData mo...,Gurgaon/Gurugram
10,Engineer II- Data Science & Analytics,Raytheon Technologies,Data Science\nstatistical modeling\nmachine le...,"Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah..."
11,Manager/Senior Manager - Data Science,Axtria India,Data Science\nNatural language processing\nDat...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
12,"Senior Analyst, Data Science",DUN BRADSTREET INFORMATION SERVICES INDIA PRIV...,Analysis\nAnalytical\nData Science\nData analy...,Hyderabad/Secunderabad
13,Data Science Manager (NLP) / EMBIZ,Tredence,Consulting\nLanguages\nManagement\nAnalytical\...,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
14,AI/ML Developer - Python Programming and Data ...,Freestone Infotech Private Limited,python\ndata science\nTensorflow\nFramework\nD...,Mumbai (All Areas)
15,Head- Product Data Science,Olive Green Consulting,data science\nbanking domain\nPython\nScience\...,Bangalore/Bengaluru
16,Sr Programmer - Python / Data Science Developer,Ajanta Pharma,Data Modeling\nPython\nStatistics\nData Scienc...,"Mumbai, Maharashtra, Mumbai Suburban, Maharashtra"
17,Data Science Analytics Sr Analyst - Data Science,Accenture,Data Science\nCloud\nInsights\nSR\nBusiness In...,Mumbai
18,Manager Data Science,Mondelez,Pattern recognition\nSAP\nData Science\nAnalyt...,Mumbai
19,Global Practice Lead - Data Science,Teradata,Data Science\nWarehouse\nAnalytics\nData\nGlob...,"Hybrid - Hyderabad/ Secunderabad, Telangana, P..."

In [31]:
skills = [s.replace('\n', ',') for s in Skills]

In [33]:
df9=pd.DataFrame({'Designation':Designation,'Company':Company,'Skills':skills,'Location':Location})
df9

,Designation,Company,Skills,Location
0,Director - Data Science,Credgenics,"Data Engineering,data science,Data Analytics,M...","Noida, Uttar Pradesh"
1,"Sr. Product Manager (Data Science, AI/ML)",Blue Yonder,"SR,Marketing,Data Science,Analytical,Managemen...",Bangalore/Bengaluru
2,Sr Product Manager (Data Science/AI/ML),Blue Yonder,"Data Science,product manager,Machine,Science,A...",Remote
3,Sr Analyst - Data Science and Analytics,Transunion,"Analytics,Finance,Business intelligence,Qualit...","Pune, Chennai"
4,Data Science Engineer,Arbeit Associates,"SQL,Python,Data Science,Data analytics,Tableau...","Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore..."
5,Cluster Manager - Payments - Data Science/Seni...,Bajaj Finserv Ltd.,"Python,Architecture,Data management,Cluster Ma...",Pune
6,L&D Trainer - Python & Data Science/Data Analy...,AVE-Promagne Business Solutions,"Python,Machine,Science,Development,Machine lea...","Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
7,Manager Data Science,Mondelez,"SAP,Science,Recognition,Design patterns,Data S...",Mumbai
8,Lead - Data Science - Financial Services,Dimensions HRD Consultants,"Data Science,Financial services,Science,Data m...",Gurgaon/Gurugram
9,Head - Data Science & Analytics - Bank,Dimensions HRD Consultants,"Data Analytics,Data Science,Science,Data model...",Gurgaon/Gurugram
10,Engineer II- Data Science & Analytics,Raytheon Technologies,"Data Science,statistical modeling,machine lear...","Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah..."
11,Manager/Senior Manager - Data Science,Axtria India,"Data Science,Natural language processing,Data ...","Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
12,"Senior Analyst, Data Science",DUN BRADSTREET INFORMATION SERVICES INDIA PRIV...,"Analysis,Analytical,Data Science,Data analysis...",Hyderabad/Secunderabad
13,Data Science Manager (NLP) / EMBIZ,Tredence,"Consulting,Languages,Management,Analytical,Dat...","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
14,AI/ML Developer - Python Programming and Data ...,Freestone Infotech Private Limited,"python,data science,Tensorflow,Framework,Deep ...",Mumbai (All Areas)
15,Head- Product Data Science,Olive Green Consulting,"data science,banking domain,Python,Science,RDB...",Bangalore/Bengaluru
16,Sr Programmer - Python / Data Science Developer,Ajanta Pharma,"Data Modeling,Python,Statistics,Data Science,E...","Mumbai, Maharashtra, Mumbai Suburban, Maharashtra"
17,Data Science Analytics Sr Analyst - Data Science,Accenture,"Data Science,Cloud,Insights,SR,Business Insigh...",Mumbai
18,Manager Data Science,Mondelez,"Pattern recognition,SAP,Data Science,Analytics...",Mumbai
19,Global Practice Lead - Data Science,Teradata,"Data Science,Warehouse,Analytics,Data,Global,D...","Hybrid - Hyderabad/ Secunderabad, Telangana, P..."